*{
    margin : 0;
    border : border-box;
    font-family: Arial, Helvetica, sans-serif;
    color : rgb(89, 86, 86);
}

body{
    display : flex;
    align-items: center;
    justify-content: center;
    /* min-height : 100vh;
    margin : 0; */
    background-color: #f9e6d7;
}

.box{
    height : 1800px;
    width : 60%;
    border-radius : 10px;
    background-color: white;
    margin : 0 auto;
    margin-top : 100px;
    margin-bottom : 100px;
}

.box-content{
    margin-left : 40px;
    margin-right : 40px;
}

.first-image{
    height : 400px;
    background-image : url("omelette.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    margin-top : 50px;
}
/* adding this div to add margin at the bottom to create a gap between the image and the h1 tag*/
.image-box{
    margin-bottom : 30px;
}

h1{
    font-family: cursive ;
    color : black;
}

.description p{
    margin-top : 20px;
    font-size : 16px;
}

.time-box{
    margin-top : 30px;
    height : 200px;
    background-color: rgb(248, 230, 233);
    border-radius : 10px;
}
/* Inner-div(time-content) moves 20px from the top & the left from the outer-div(time-box) */
.time-content{
    padding: 20px 0px 0px 20px;
}

.time-content h3{
    color : purple;
}

.ingredients{
    margin-top : 30px;
    height : 250px;
    border-bottom : 0.05px solid rgb(89, 86, 86);
}

.ingredients h2{
    color : brown;
}

.instructions{
    margin-top : 30px;
    height : 360px;
    border-bottom : 0.05px solid rgb(89, 86, 86);
}

.instructions h2{
    color : brown;
}

.nutrition{
    margin-top : 30px;
}

.nutrition h2{
    color : brown;
}

.table{
    margin-left : 20px;
}

.table-border{
    height : 35px;
    width : 412px;
    border-bottom: 0.05px solid rgb(89, 86, 86);
}

.row-color{
    color : brown;
    font-weight : 600;
h}


